<footer class="hero w-full flex-grow bg-gray-700 py-16 px-6 text-gray-200">
    <div class="container mx-auto max-w-4xl py-6 flex flex-wrap md:flex-no-wrap justify-between items-center text-sm">
        <div>
            Created by <a href="https://zuck.github.io" target="_blank">Emanuele Bertoldi</a>
        </div>
        <div>
            <a href="https://github.com/restboard" target="_blank">GitHub</a>
        </div>
    </div>
</footer>