<div class="container relative box-border max-w-5xl mx-auto px-4 prose-lg text-center">
    <h2 id="getting_started">Getting started</h2>
    <pre class="bg-gray-700 py-4 px-4 text-gray-200 rounded-lg text-left">
$ npm i -g @quasar/cli
$ npm init quasar
$ cd quasar-project
$ quasar ext add restboard
$ quasar dev</pre>
</div>