{% extends 'page.njk' %}

{% block container %}
<div class="hero w-full min-h-screen py-8 bg-brand text-white">
  <div class="container relative box-border max-w-5xl mx-auto px-4 prose-xl xl:prose-2xl text-center">
    <h1>{{ splashTitle }}</h1>
    <p>{{ splashText }}</p>
    {% if splashLink %}
    <p>
      <a
          href="{{ splashLink }}"
          title="{{ splashAction }}"
          class="btn"
      >
        {{ splashAction }}
      </a>
    </p>
    {% endif %}
    {% if splashImage %}
    <p class="text-center">
      <img class="inline-block w-full" src="{{ splashImage }}"/>
    </p>
    {% endif %}
  </div>
  {% if extra %}
  {% include extra %}
  {% endif %}
</div>

{% block beforeContent %}
{% endblock %}

{{ super() }}
{% endblock container %}
